body {
	text-align:center;
	font-family: 'Lobster', cursive;
	color:purple;
	background-color:#ffbcd1;
	background-image: url("background.gif");
	background-position:center;
	background-size:cover;
	font-size:1.2em;
}
	#about {
		/*CSS comment*/
		color:#8337ce;
		text-transform:uppercase;
	}
nav ul li {
	display:inline;
	padding:10px 0px;
	margin:0px 10px;
}